numpy>=1.16.6
enum34>=1.1.10
protobuf>=3.15.6
six>=1.15.0
opencv-python==4.2.0.34
tensorflow==1.14.0
cython>=0.29.13
pycocotools>=2.0.0
matplotlib==3.3.4
scipy==1.6.1
pillow>=6.1.0
joblib==1.0.1
pulp>=2.3.1
onnx>=1.8.1
onnxruntime==1.7.0
onnx-simplifier>=0.3.3
onnxoptimizer>=0.2.0
